/**
  * @name sky
  * @version 0.69
  * @description Theme using Asteria's null clear
  * @author Java
**/
@import url('https://asteria5675.github.io/BetterDiscordThemes/SourceCodes/src/null.css');

:root {
        --hue: 217 ;
        --saturation: 0% ;
        --lightness: 10% ;
        --alpha: 0.35 ;
        --hue-addition: 0 ;
        --saturation-addition: -1% ;
        --lightness-addition: -5% ;
        --alpha-addition: 0.5 ;
        --image: url( https://images.pexels.com/photos/2088167/pexels-photo-2088167.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500 );
        --titlebar-alpha: 0.9;
        --blur: 0px;   
        --accent-color: hsl(177, 29%, 27%);
        --tooltip-background: var(--accent-color);
        --tooltip-text: #dcddde;
        --blurple: hsl(177, 29%, 27%);
        --mention-channel-background: 0.05;
        --is-mention: hsl(177, 29%, 27%);
        --is-mention-bg: hsl(177, 29%, 27%);
        --is-mention-alpha: 0.10;
        --unread:  hsl(177, 29%, 27%);
        --guild-selected: hsl(177, 29%, 27%);
        --channel-selected: hsl(177, 29%, 27%); 
        --multiplier: (1.25);
        --track-alpha: 0.45;
        --floating-alpha: 1;
        --channeltextarea-background: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + 6%), calc(var(--lightness) + calc(var(--multiplier) * var(--lightness-addition))), calc(var(--alpha)));
        --server-blurple: var(--blurple);
        --settings-selected:var(--accent-color);
        --friend-selected:var(--background-modifier-selected);
        --member-list-addition: 3.5%;
        --background-floating: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), calc(var(--floating-alpha)));
        --divider-alpha: 0.45;
}

.headerTop-3C2Zn0 {
  min-height: 250px;
  padding: 0;
}
.headerTop-3C2Zn0 .avatarWrapper-3H_478 {
  left: 0;
  bottom: 0;
  width: 250px;
}
.headerTop-3C2Zn0 .avatarWrapper-3H_478 .wrapper-3t9DeA {
  height: 250px !important;
  width: 250px !important;
}
.avatarHint-1qgaV3 {width: 100%;height: 100%;border-radius: 0;}
.avatarHintInner-Dco91E {
  font-size: 0.4em;
  text-shadow: 1px 1px 3px black;
}
.headerTop-3C2Zn0 foreignObject {mask: none !important;}
.headerTop-3C2Zn0 rect {
  border-radius: 0;
  x: 0; y: 80;
  width: 80px;
  height: 3px;
}
.headerText-2sdzFM {padding-bottom: 5px;}

.userPopout-3XzG_A {
  background-color:  hsl(177, 29%, 27%);
}

.members-1998pB {
  background-color: transparent !important;
}
